<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Agregar Productos' , css: 'addProduct.css' }) %>

  <body>

    <%- include('../partials/header.ejs') %>

      <main>
        <div class="add-product">
          <h1>AGREGA UN PRODUCTO</h1>
          <form action="/products/add" method="post" enctype="multipart/form-data" id="formProducts">

            <div class="add-product-field terror">
              <label for="name">NOMBRE: </label>
              <input class="inputCuadro" type="text" name="name" id="name" required />
              <span class="errorText" id="nameError"></span>
            </div>

            <div class="add-product-field">
              <label for="grapes_id">VARIEDAD: </label>
              <select name="grapes_id" id="grapes_id">
                <% grapes.forEach(grape=> { %>
                  <option value="<%= grape.id %>">
                    <%= grape.name %>
                  </option>
                  <% }) %>
              </select>
            </div>

            <div class="add-product-field">
              <label for="country_id">ORIGEN: </label>
              <select name="country_id" id="">
                <% country.forEach(country=> { %>
                  <option value="<%= country.id %>">
                    <%= country.name %>
                  </option>
                  <% }) %>
              </select>
            </div>


            <div class="add-product-field terror">
              <label for="price">PRECIO (ARS): </label>
              <input class="inputCuadro" type="number" name="price" id="price" placeholder="$" required />
              <span class="errorText" id="priceError"></span>
            </div>

            <div class="add-product-field terror">
              <label for="discount">DESCUENTO: </label>
              <input class="inputCuadro" type="number" name="discount" id="discount" />
              <span class="errorText" id="discountError"></span>
            </div>

            <div class="add-product-field terror">
              <label for="stock">STOCK: </label>
              <input class="inputCuadro" type="number" name="stock" id="stock" required />
              <span class="errorText" id="stockError"></span>
            </div>

            <div class="add-product-field">
              <label for="image">IMAGEN: </label>
              <input class="inputCuadro" type="file" name="image" id="image"
                accept="image/png, image/jpg, image/jpeg, image/gif" />
            </div>

            <div class="add-product-field terror">
              <label for="description">DESCRIPCIÓN: </label>
              <input class="inputCuadro" type="text" name="description" id="description" required />
              <span class="errorText" id="descriptionError"></span>
            </div>

            <div class="buttons">
              <button type="submit" class="add">AGREGAR</button>
              <button type="reset" class="reset">BORRAR</button>
            </div>
          </form>
        </div>
      </main>

      <%- include('../partials/footer.ejs') %>
  </body>
  
  <script src="/js/productsValidate.js"></script>

</html>