<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Agregar Productos' , css: 'addProduct.css' }) %>

  <body>

    <%- include('../partials/header.ejs') %>

      <main>
        <div class="add-product">
          <h1>AGREGA UN PRODUCTO!</h1>
          <form action="/products/add" method="post" enctype="multipart/form-data">

            <div class="add-product-field">
              <label for="name">NOMBRE: </label>
              <input type="text" name="name" id="name" required />
            </div>

            <div class="add-product-field">
              <label for="grapes_id">VARIEDAD: </label>
              <select name="grapes_id" id="grapes_id">
                <% grapes.forEach(grape => { %>
                  <option value="<%= grape.id %>">
                    <%= grape.name %>
                  </option>
                  <% }) %>
              </select>
            </div>

          <div class="add-product-field">
            <label for="country_id">ORIGEN: </label>
            <select name="country_id" id="">
              <% country.forEach(country => { %>
                <option value="<%= country.id %>"><%= country.name %></option>
              <% }) %>
            </select>
          </div>


            <div class="add-product-field">
              <label for="price">PRECIO (ARS): </label>
              <input type="number" name="price" id="price" placeholder="$" required />
            </div>

            <div class="add-product-field">
              <label for="discount">DESCUENTO: </label>
              <input type="number" name="discount" id="discount" required />
            </div>

            <div class="add-product-field">
              <label for="stock">STOCK: </label>
              <input type="number" name="stock" id="stock" required />
            </div>

            <div class="add-product-field">
              <label for="image">IMAGEN: </label>
              <input type="file" name="image" id="image" accept="image/png, image/jpg, image/jpeg, image/gif" />
            </div>

            <div class="add-product-field">
              <label for="description">DESCRIPCIÓN: </label>
              <input type="text" name="description" id="description" required />
            </div>

            <div class="buttons">
              <button type="submit" class="add">AGREGAR</button>
              <button type="reset" class="reset">BORRAR</button>
            </div>
          </form>
        </div>
      </main>

      <%- include('../partials/footer.ejs') %>
  </body>

</html>