<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: 'Eliminar un Producto',css: 'deleteProduct.css'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section>
            <figure>
                <img src="/images/products/<%= product.image %>" alt="">
                <figcaption>
                    <h3>
                        <%= product.name %> - ID: <%= product.id %>
                    </h3>
                </figcaption>
            </figure>
            <h4 class="question">Estás seguro que deseas eliminar este producto?</h4>
            <form action="">
                <button class="delete-button">ELIMINAR</button>

                <a href="/products/detail/<%= product.id %>" class="cancel-button">CANCELAR</a>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>