<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Editar Productos' , css:
  'editProduct.css' }) %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <div class="edit-product">
        <h1>EDITAR INFORMACION</h1>
        <form
          action="/products/edit/<%= product.id %>?_method=put"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="edit-product-field">
            <label for="name">NOMBRE: </label>
            <input
              type="text"
              name="name"
              id="name"
              required
              value="<%= product.name %>"
            />
          </div>

          <div class="edit-product-field">
            <label for="varieties">VARIEDAD: </label>
            <select name="" id="">
              <% grapes.forEach(grape => { %>
              <option value=<%=grape.id%>
                <%= product.grapes_id === grape.id? 'selected': " " %> ><%=
                grape.name %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="edit-product-field">
            <label for="origin">ORIGEN: </label>
            <select name="" id="">
              <% country.forEach(country => { %>
              <option value=<%=country.id%>
                <%= product.country_id === country.id? 'selected': " " %> ><%=
                country.name %>
              </option>
              <% }) %>
            </select>
          </div>

          <div class="edit-product-field">
            <label for="description">DESCRIPCION: </label>
            <input
              type="text"
              name="description"
              id="description"
              required
              value="<%=product.description%>"
            />
          </div>

          <div class="edit-product-field">
            <label for="price">PRECIO (ARS): </label>
            <input
              type="number"
              name="price"
              id="price"
              placeholder="$"
              required
              value="<%=product.price%>"
            />
          </div>

          <div class="edit-product-field">
            <label for="price">DESCUENTO: </label>
            <input
              type="number"
              name="discount"
              id="discount"
              required
              value="<%=product.discount%>"
            />
          </div>

          <div class="edit-product-field">
            <label for="price">STOCK </label>
            <input
              type="number"
              name="stock"
              id="stock"
              required
              value="<%=product.stock%>"
            />
          </div>

          <div class="edit-product-field">
            <label for="image">IMAGEN: </label>
            <input
              type="file"
              name="image"
              id="image"
              accept="image/png, image/jpeg"
              multiple
            />
          </div>

          <div class="buttons">
            <button type="submit" class="edit">GUARDAR CAMBIOS</button>
          </div>
        </form>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
