<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Mohave&family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/editProduct.css">
    <title>VENNER - Editar informacion del Producto</title>
</head> -->

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>

            <main>
                <div class="edit-product">
                    <h1>EDITAR INFORMACION</h1>
                    <form action="/products/edit/<%= productToEdit.id %>?_method=put" method="POST"
                        enctype="multipart/form-data">
                        <div class="edit-product-field">
                            <label for="category">CATEGORIA: </label>
                            <select name="category" id="">
                                <option value="national">Vino Argentino</option>
                                <option value="imported">Vino Importado</option>
                            </select>
                        </div>

                        <div class="edit-product-field">
                            <label for="name">NOMBRE: </label>
                            <input type="text" name="name" id="name" required value="<%= productToEdit.name %>" />
                        </div>

                        <div class="edit-product-field">
                            <label for="varieties">VARIEDAD: </label>
                            <input type="text" name="varieties" id="varieties" placeholder="Variedades de uva, cepas..."
                                value="<%= productToEdit.varieties %>" />
                        </div>

                        <div class="edit-product-field">
                            <label for="origin">ORIGEN: </label>
                            <input type="text" name="origin" id="origin" placeholder="Region, provincia, pais..."
                                value="<%= productToEdit.origin %>" />
                        </div>

                        <div class="edit-product-field">
                            <label for="description">DESCRIPCION: </label>
                            <input type="text" name="description" id="description" required
                                value="<%=productToEdit.description%>" />
                        </div>

                        <div class="edit-product-field">
                            <label for="price">PRECIO (ARS): </label>
                            <input type="number" name="price" id="price" placeholder="$" required
                                value="<%=productToEdit.price%>" />
                        </div>

                        <div class="edit-product-field">
                            <label for="image">IMAGEN: </label>
                            <input type="file" name="image" id="image" accept="image/png, image/jpeg" multiple />
                        </div>

                        <div class="edit-product-field">
                            <label for="tall">TAMAÑO (cm<sup>3</sup>, mL): </label>
                            <input type="number" name="tall" id="tall" value="<%=productToEdit.tall%>" />
                        </div>

                        <div class="buttons">
                            <button type="submit" class="edit">GUARDAR CAMBIOS</button>
                        </div>
                    </form>
                </div>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>