<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://fonts.googleapis.com/css2?family=Mohave&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/products.css">
</head> -->

<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section>
            <div class="products">
                <% imported.forEach((product) => { %>
                    <a href="/products/detail/<%=product.id %>" class="main-article">
                        <div class="image-article">
                            <img src="/images/products/<%= product.image %>" alt="Catena Zapata">
                        </div>
                        <div class="details-article">
                            <h4><%= product.name %></h4>
                            <p class="price">$<%= product.price %></p>
                            <p class="type"><strong>Tipo de vino:</strong> <%= product.varities %></p>
                            <p class="uva"><strong>Uva:</strong> <%= product.description %></p>
                            <p class="origin"><strong>Origen:</strong> <%= product.origin %></p>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </a>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>