<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {title: 'Detalle de Producto' , css: 'productDetail.css' }) %>

  <body>

    <%- include('../partials/header.ejs') %>

      <main>

        <article class="product">
          <section class="image-section">
            <figure class="product-image">
              <img src="/images/products/<%= product.image %>" alt="">
            </figure>
          </section>

          <section class="info-section">
            <div class="product-info">
              <p class="product-name">
                <%= product.name %>
              </p>
              <% if (product.grapes && product.grapes.name) { %>
                <p class="product-grape">
                  <i class="fa-solid fa-wine-bottle"></i>
                  <%= product.grapes.name %>
                </p>
                <% } %>
                  <% if (product.country && product.country.name) { %>
                    <p class="product-country">
                      <i class="fa-solid fa-earth-americas"></i>
                      <%= product.country.name %>
                    </p>
                    <% } %>
                      <p class="product-description">
                        <span>Descripcion: </span> <br>
                        <%= product.description %>
                      </p>
            </div>

            <div class="buttons">
              <button type="submit" id="buy-now">Comprar ahora!</button>
              <button type="" id="add-cart">Agregar al carro!</button>
            </div>
          </section>
        </article>

        <section class="admin-panel">
          <h6>PANEL DE ADMINISTRACION</h6>
          <div class="admin-buttons">
            <a href="/products/edit/<%= product.id %>">
              <button type="submit">EDITAR PRODUCTO</button>
            </a>
            <form action="">
              <button type="submit">ELIMINAR PRODUCTO</button>
            </form>
          </div>
        </section>

      </main>

      <%- include('../partials/footer.ejs') %>

  </body>
</html>