<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/products.css">
  <%- include('./partials/head.ejs', {title: 'VENNER Vinoteca' , css: 'home.css'}) %>
  <head>
    <script src="/js/slideShow.js"></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>

      <%- include('./partials/slideShow.ejs') %>

      <h2>OFERTAS</h2>
      <section class="home-offers">
        <%- include("./partials/products.ejs", {products}) %>
      </section>
      
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
