<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {title: 'VENNER Vinoteca' , css: 'home.css'
  }) %>
  <link rel="stylesheet" href="/css/products.css">

  <body>
    <%- include('./partials/header.ejs') %>

    <main>

      <%- include('./partials/slideShow.ejs') %>

      <h1>OFERTAS</h1>

      <%- include("./partials/products.ejs", {products}) %>
      
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="/public/js/slideShow.js"></script>
  </body>
</html>
