<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <section>
            <div class="products">
                <% products.forEach((product) => { %>
                    <a href="/products/detail/<%=product.id %>" class="main-article">
                        <div class="image-article">
                            <img src="/images/products/<%= product.image %>" alt="Catena Zapata">
                        </div>
                        <div class="details-article">
                            <h4><%= product.name %></h4>
                            <p class="price">$<%= product.price %></p>
                            <p class="type"><strong>Tipo de vino:</strong> <%= product.varities %></p>
                            <p class="uva"><strong>Uva:</strong> <%= product.description %></p>
                            <p class="origin"><strong>Origen:</strong> <%= product.origin %></p>
                            <i class="fa-solid fa-cart-shopping"></i>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </a>
                <% }) %>
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>