<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Resultados de la busqueda' , css:'products.css'}) %>

  <body>
    <%- include('./partials/header.ejs') %>

      <main>

          <% if (products.length !== 0) { %>
            <br>
            <h2>Resultados de tu busqueda: <%=search %>
            </h2>
          <% } else { %>
            <br>
            <h2>Lo siento no pudimos encontrar tu producto: <%=search %>
          <% } %>
           
              <section class="products">


                <% products.forEach(product=> { %>

                  <article class="box-product">

                    <figure class="product-image">
                      <a href="/products/detail/<%=product.id%>">
                        <img src="/images/products/<%= product.image%>" alt="">
                        <figcaption class="product-name">
                          <h3>
                            <%= product.name %>
                          </h3>
                        </figcaption>
                        <p><i class="fa-regular fa-heart"></i></p>
                      </a>
                    </figure>

                    <div class="product-details">
                      <% if (product.discount> 0) { %>
                        <p class="old-price"><strike>$<%= product.price %></strike></p>
                        <% newPrice=product.price - (product.price * product.discount / 100); %>
                          <p class="price">$<%= newPrice.toFixed(2) %>
                          </p>
                          <p class="discount"><strong>
                              <%= product.discount %>% OFF!
                            </strong></p>
                          <% } else { %>
                            <p class="price">$<%= product.price %>
                            </p>
                            <% } %>
                    </div>

                    <form action="">
                      <button class="add-to-cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </button>
                    </form>

                  </article>
                  <% }) %>

              </section>
      </main>

      <%- include('./partials/footer.ejs') %>
  </body>

</html>