<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: "Mi Perfil", css: "profile.css" }) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main id="main-profile">
    <div id="container">
        <div class="title">
            <legend>MI CUENTA</legend>
        </div>
        <div class="info">
            <div class="colum1">
                <div class="img-user">
                    <img src="<%=user.image%>" class="img-profile" alt="User-Profile-Image">
                </div>
                    <h5>Datos Personales</h5>
                    <p id="dato"><strong>Nombre y Apellido: </strong><%= user.firstName+" "+user.lastName%></p>
                    <p id="dato"><strong>Email: </strong><%= user.email%></p>
                    <a href="/users/edit/<%=user.id%>" class="edit-user">Editar</a>                   
                    <a href="/users/delete/<%=user.id%>" class="edit-user">Eliminar</a>                   
            </div>
            <div class="colum2">
                <div class="shopping-history">
                    <h4>Mis Compras</h4>
                    <p>¡Hace tu primera compra!</p>
                    <form action="/products/all">
                        <button type="submit" class="btn">IR A LA TIENDA</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>